body {
    background: hsla(42, 93%, 57%, 1);
    background: linear-gradient(180deg, hsla(42, 93%, 57%, 1) 0%, hsla(0, 100%, 98%, 1) 100%);
    background: -moz-linear-gradient(180deg, hsla(42, 93%, 57%, 1) 0%, hsla(0, 100%, 98%, 1) 100%);
    background: -webkit-linear-gradient(180deg, hsla(42, 93%, 57%, 1) 0%, hsla(0, 100%, 98%, 1) 100%);
}
@font-face{
    font-family: myFont;
    src:url(/Res/GeneralSans-Variable.ttf);
  }

.add-menu-container {
    height: auto;
    width: 40%;
    margin: 180px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    border-radius: 20px;
    margin-left: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: myFont;
}

.menu-name {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    text-align: center;
    width: 60%;
    margin-top: 10px;
}

.menu-price {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    width: 60%;
    text-align: center;
    margin-top: 20px;

}

.menu-img {
    width: 70%;
    margin-top: 30px;
    margin-left: 30%;
    cursor: pointer;
}

input::file-selector-button {
    font-weight: bold;
    color: #F48C06;
    padding: 0.3em;
    border: thin solid grey;
    border-radius: 5px;
}

.menu-price:focus {
    outline: none;
    border-bottom: 2px solid #e9d416;
}

.menu-name:focus {
    outline: none;
    border-bottom: 2px solid #e9d416;
}

input[type="number"] {
    text-align: center;
}

.button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    width: 30%;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 20px;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.end-section {
    display: flex;
    margin-top: 20px;
    background-color: #f4e603;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    justify-content: center;
    font-size: 16px;
    padding: 5px;
}

.end-section a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
    font-weight: 700;
    margin-top: 5px;
}

.end-section p {
    margin-top: 5px;
}

.end-section a:hover {
    color: blue;
}