body {
	font-family: Arial;
}

.container {
	border-radius: 16px;
	max-width: 1180px;
	margin: 0 30px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

.header-content {
	font-weight: bold;
	width: 800px;
	margin: 20px auto;
}

#header-right-menu {
	float: right;
}

#header-right-menu a {
	padding: 12px;
}

.header-active{
	color:#000;
}

.inner-container {
	width: 50%;
	margin: 80px auto;
	display: flex;
	background-color: white;
	border-radius: 12px;
	padding: 30px;
    position: absolute;
    top: 8%;
    left:23%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tile1 {
	width: 350px;
}

.tile2 {
	flex: 1 1 auto;
	padding: 0px 40px;
}

.tile1-heading {
    color: #FF9A5A;
	font-weight: bold;
	font-size: 1.5em;
}

.form-row {
	padding: 20px 0px 0px 0px;
}

.form-field {
	border-radius: 4px;
	width: 100%;
	padding: 15px;
	background-color: #f5f4fa;
	border: 0px;
}

.contact-image {
	padding: 10px;
	border-radius: 35px;
	border: 1px solid #a8a4a4;
	vertical-align: middle;
	margin-right: 20px;
	width: 16px;
	height: 16px;
}

textarea {
	height: 100px;
	font-family: Arial;
}




.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.tile2-image img {
	max-width: 275px;
	max-height: 225px;
    margin-left: 70px;
}

.img-container{
    margin-left: 40px;
}
#menu-icon {
	display: none;
	float: right;
}

@media all and (max-width: 900px) {
	.inner-container {
		width: auto;
		display: block;
		margin: 30px auto;
	}
	.header-content {
		width: auto;
	}
	.tile1 {
		width: 100%;
	}
	.tile2 {
		padding: 0px;
	}
	.tile2-image img {
		width: 100%;
		height: auto;
	}
}

@media all and (max-width: 540px) {
	#header-right-menu {
		float: none;
		display: none;
	}
	#header-right-menu a {
		display: block;
		padding: 10px 0px;
	}
	
	#menu-icon {
		display: block;
		float: right;
	}
}

@media all and (max-width: 400px) {
	.container {
		padding: 10px;
	}
}
