body{
    background: whitesmoke;
}
.menu-container h3 {
    text-align: center;
    font-family: myFont;

}

@font-face {
    font-family: myFont;
    src: url(/Res/GeneralSans-Variable.ttf);
}

.menu-container {
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;

}

.button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    width: 30%;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 20px;
    margin-left: 32%;
    font-family: myFont;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}

.button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.card {
    width: auto;
    height: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card h3 {
    background-color: #FFBA08;
    border-radius: .25rem;
    color: white;
}

.menu-items {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 10%;
}

.edit-menu {
    background-color: white;
    width: 20%;
    height: auto;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.menu-name {
    display: flex;
    margin-left: 20%;
    text-align: center;
    font-family: myFont;

}

.edit-menu-price {
    margin-left: 20px;
}

/* button */
.delete-items button {
    width: 80%;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e13131;
    margin-top: 20px;
    margin-left: 10%;
}

.delete-items button,
button span {
    transition: 200ms;
}

.delete-items button .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

.delete-items button .icon {
    position: absolute;
    border-left: 1px solid #e13131;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-items button svg {
    width: 15px;
    fill: #eee;
}

.delete-items button:hover {
    background: #ff3636;
}

.delete-items button:hover .text {
    color: transparent;
}

.delete-items button:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.delete-items button:focus {
    outline: none;
}

.delete-items button:active .icon svg {
    transform: scale(0.8);
}

.delete-items {
    margin-top: 20px;

}