

.button-32 {
    background-color: #fff000;
    border-radius: 12px;
    color: #000;
    width: 30%;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px;
    margin-left: 32%;
  }
  
  .button-32:not(:disabled):hover,
  .button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }
  
  .button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }


 .button-5 {
   align-items: center;
   background-clip: padding-box;
   background-color: #9D0208;
   border: 1px solid transparent;
   border-radius: .25rem;
   box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
   box-sizing: border-box;
   color: #fff;
   cursor: pointer;
   display: inline-flex;
   font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 16px;
   font-weight: 600;
   justify-content: center;
   line-height: 1.25;
   margin: 0;
   min-height: 3rem;
   padding: calc(.875rem - 1px) calc(1.5rem - 1px);
   position: relative;
   text-decoration: none;
   transition: all 250ms;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   vertical-align: baseline;
   width: auto;
   margin: 10px;
 }
 
 .button-5:hover,
 .button-5:focus {
   background-color: #fb8332;
   box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
 }
 
 .button-5:hover {
   transform: translateY(-1px);
 }
 
 .button-5:active {
   background-color: #da7a3a;
   box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
   transform: translateY(0);
 }

.sub-bar {
    background-color: #9D0208;
    border: 1px solid rgba(255, 255, 255, 0.25);
    width: 80%;
    margin-left: 10%;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 20px;

}

.card{
    width: max-content;
    height: auto;
    padding: 20px;
    padding-bottom: 5px;
   
  left: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;     
    z-index: -1;
}
.order-history-title-container{
margin-left: 7%;
padding-top: 8%;

}
.order-total h5{
    text-align: center;
    margin-top: 5px;
}
.order-table{
    text-align: left;
    
}
.order-table th, td {
    padding: 10px;
  }

 
