<title>CampusBites | About Us </title>
<%- include("../restaurant/partials/navbar.ejs")%>
<link rel="stylesheet" href="/about-us.css">
<div class="outer-container">
    <div class="inner-container">
        <div class="headings-container">
            <p style="color:#370617;text-align: center;" class="text-blk heading-text">
                Meet our Team
            </p>
            <p style="font-size: 24px;color: #4082e3; text-align: center;" class="text-blk sub-heading-text">
                "Behind every success, there's a talented team – Meet the minds driving our journey."
            </p>
        </div>
        <div class="team-members-container">
            <div class="card-container">
                <div class="card1">
                    <img style="object-fit: contain;" class="card-img" src="/images/sahaj.jpg">
                    <p style="margin-left: 30px;" class="text-blk name">
                        Sahaj Maniya</p>
                    <p style="margin-left: 30px;" class="text-blk position">
                        Project Leader | Frontend Developer
                    </p>
                </div>
            </div>
            <div class="" card-container">
                <div class="card1">
                    <img class="card-img" src="/images/Raj.jpg">
                    <p style="margin-left: 30px;" class="text-blk name">
                        Raj Bodar</p>
                    <p style="margin-left: 30px;" class="text-blk position">
                        Backend Developer
                    </p>
                </div>
            </div>
            <div class=" card-container">
                <div class="card1">
                    <img class="card-img" src="/images/meet-Photoroom.jpg">
                    <p style="margin-left: 30px;" class="text-blk name">
                        Meet Vadodariya</p>
                    <p style="margin-left: 30px;" class="text-blk position">
                        Backend Developer
                    </p>
                </div>
            </div>
            <div class=" card-container">
                <div class="card1">
                    <img class="card-img" src="/images/krupal-Photoroom.jpg">
                    <p style="margin-left: 30px;" class="text-blk name">
                        Krupal Savaliya</p>
                    <p style="margin-left: 30px;" class="text-blk position">
                        Backend Developer
                    </p>
                </div>
            </div>
            <div class=" card-container">
                <div class="card1">
                    <img class="card-img" src="/images/kevin-Photoroom.jpg">
                    <p style="margin-left: 30px;" class="text-blk name">
                        Kevin vekariya</p>
                    <p style="margin-left: 30px;" class="text-blk position">
                        Backend Developer
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>