<title>CampusBites | Contact Us </title>
<%- include("../restaurant/partials/navbar.ejs")%>
    <link rel="stylesheet" href="/contactus.css" />

    <div class="inner-container">
        <div class="tile1">
            <div class="tile1-heading">Get in touch</div>

            <div class="form-row">
                <input type="text" class="form-field" placeholder="Name">
            </div>
            <div class="form-row">
                <input type="text" class="form-field" placeholder="Email">
            </div>
            <div class="form-row">
                <textarea class="form-field" placeholder="Enter Message"></textarea>
            </div>
            <div class="form-row">
                <input type="button" class="form-field button-62" value="Submit">
            </div>
            </form>
        </div>
        <div class="tile2">
            <div class="tile2-image">
                <img src="/images/contact.png">
            </div>
            <div class="img-container">

                <div class="form-row">
                    <img src="/images/phone.png" class="contact-image"><span>+91 96381 50404</span>
                </div>
                <div class="form-row">
                    <img src="/images/mail.png" class="contact-image"><span>sahajmaniya111@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>