<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusBites - Your Canteen, your click, on CampusBites!! </title>
    <link rel="stylesheet" href="/landing-page.css" />
    <link rel="icon" href="/Res/logo.png">
</head>

<body>
    <div class="get-started">
        <img class="get-started-child" loading="eager" alt="" src="/Res/group-5.svg" />

        <section class="frame-parent">
            <div class="welcome-to-campusbites-parent">
                <h2 class="welcome-to-campusbites-container">
                    <span>Welcome to </span>
                    <span class="campusbites">CampusBites!!</span>
                </h2>
                <div class="satisfy-your-cravings">
                    Satisfy your cravings with CampusBites - the ultimate food ordering
                    experience!
                </div>
            </div><a class="a1" href="/restaurant/create-rest">
                <button class="rectangle-parent" id="groupButton">
                    <div class="frame-child"></div>
                    <b class="get-started1">Get Started</b>
                    <img class="right-arrow-1-icon" alt="" src="/Res/rightarrow-1@2x.png" />
                </button></a>
        </section>
    </div>


</body>

</html>