<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CampusBites | Home</title>
    <link rel="stylesheet" href="/home.css" />
    <link rel="icon" href="/Res/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
  </head>

  <body>
    <div class="container">
      <header>
        <nav class="navbar">
          <div class="logo">
            <img src="./images/CampusBites-logo.png" alt="Logo" />
          </div>
          <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </nav>
      </header>
      <main class="main-content">
        <h1>CampusBites</h1>
        <h3>Your Canteen, Your Clicks, on CampusBites!!</h3>
        <p>
          Discover our top-rated recipes, curated just for you. From quick
          weeknight dinners to indulgent desserts, find your next favorite meal
          right here.
        </p>
        <button class="button-24">Explore</button>
      </main>
    </div>

    <section id="services" class="features">
      <p>WHAT WE SERVE</p>
      <h2>Your Favorite Food</h2>
      <h2 style="margin-top: -30px">Ordering Partner</h2>
    </section>
    <div class="section2">
      <div class="info-container">
        <img src="./images/illustration -1.png" alt="illustration1" />
        <h2>Easy To Order</h2>
        <p>You only need a few steps to order the food</p>
      </div>
      <div class="info-container">
        <img src="./images/illustration-3.png" alt="illustration1" />
        <h2>Fast Service</h2>
        <p>Ensuring your meal is ready in no time</p>
      </div>
      <div class="info-container">
        <img src="./images/illustration -2.png" alt="illustration1" />
        <h2>Best Quality</h2>
        <p>Not only fast for us quality is also number one</p>
      </div>
    </div>
    <div class="section3">
      <h1>Who are you?</h1>
      <div class="user-manager">
        <div class="user">
          <p>User</p>
          <img src="./images/Eating healthy food.gif" alt="gif1" />
          <button onclick="redirectToPageOtp()" class="button1">
            Get Started<svg
              fill="currentColor"
              viewBox="0 0 24 24"
              class="icon"
            >
              <path
                clip-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
        <div class="manager">
          <p>Manager</p>
          <img src="./images/Ambassador.gif" alt="gif1" />
          <button onclick="redirectToPageManager()" class="button1">
            Get Started
            <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
              <path
                clip-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                fill-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <section class="wrapper">
      <div class="content">
        <header>
          <h2>Sign up to our newsletter to receive updates</h2>
        </header>
        <section>
          <p>
            Join our community to stay in the loop with our latest news,
            exclusive offers, and mouth-watering recipes. Subscribe to our
            newsletter today!
          </p>
        </section>
        <div>
          <input type="email" placeholder="Enter your email" />
          <button class="email-btn">Let's go</button>
        </div>
      </div>
    </section>
    <footer>
      <div class="footer-container">
        <div class="footer-section about">
          <h2>About Us</h2>
          <p>
            We are dedicated to bringing you the best recipes, food news, and
            culinary tips to enhance your cooking experience.
          </p>
        </div>
        <div class="footer-section links">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">T & C</a></li>
          </ul>
        </div>
        <div class="footer-section contact">
          <h2>Contact Us</h2>
          <p>Phone: 9638150404</p>
          <p>Email: campusbitescare@gmail.com</p>
        </div>
        <div class="footer-section social">
          <h2>Follow Us</h2>
          <div class="social-icons">
            <a href="#" class="social-icon"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        &copy; 2024 CampusBites | Designed Sahaj Maniya
      </div>
    </footer>

    <script>
      function redirectToPageOtp() {
        window.location.href = "/otp";
      }

      function redirectToPageManager() {
        window.location.href = "/login";
      }
    </script>
  </body>
</html>
