<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | CampusBites  </title>
    <link rel="stylesheet" href="/loginstyle.css"> 
    <link rel="icon" href="/Res/logo.png">

</head>
<body>
    <div class="box gradDynamic"></div>

        <form method="post" action="/login" id="form">
  
            <h2 style=" color: #f48c06;">Login</h2>
            <img src="/Res/Login.gif" alt="" width="200px" height="200px">
           <div class="form-control">
               <label for="name">Name</label>
               <input class="login-input" type="text" id="name" name="username" placeholder="Enter your name" required autocomplete="off">
           </div>
           <div class="form-control">
               <label for="password">Password</label>
               <input class="login-input" type="password" id="password" name="password" placeholder="Enter your password" required>
           </div>
           <button class="button" type="submit">Login</button> 
           <p class="text1">Don't have an account? <a href="/signup">SignUp</p>       
        </form>               
    </div>

  
</body>

</html>